<header
  class="w-full h-12 px-4 sticky top-0 flex justify-end items-center bg-blue-600"
>
  <nav>
    <ul class="flex gap-4" role="none">
      <li role="none">
        <a
          class="text-white hover:underline"
          routerLink="/about"
          routerLinkActive="underline"
          >About</a
        >
      </li>
      <li role="none">
        <a
          class="text-white hover:underline"
          routerLink="/pricing"
          routerLinkActive="underline"
          >Pricing</a
        >
      </li>
      <li role="none">
        <a
          class="text-white hover:underline"
          routerLink="/contact"
          routerLinkActive="underline"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
